<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Image upscaler</title>
	<meta name="description" content="Your description">
	<meta name="keywords" content="Your,Keywords">
	<meta name="author" content="ResponsiveWebInc">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename = 'css/font-awesome.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename = 'css/style.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="#">
</head>
<body>
	<div class="wrapper padding">
		<div class="feature">
			<div class="container m-20">
				<div class="row">
					<div class="col-md-5 col-sm-5">
						<p id="heading">IMAGE UPSCALER</p>
						<p id="text">
							<JPG,PNG. Max Size 5 Mb>
						</p>
						<br>
						<form id="upload-form" action="{{ url_for('upload') }}" method="POST"
							enctype="multipart/form-data">
							<strong>Files:</strong><br>
							<input id="file-picker" type="file" name="file" accept="image/*" multiple>
							<div id="msg"></div>
							<script>
								$("#file-picker").change(function () {
									var input = document.getElementById('file-picker');

									for (var i = 0; i < input.files.length; i++) {

										var ext = input.files[i].name.substring(input.files[i].name.lastIndexOf('.') + 1).toLowerCase()

										if ((ext == 'jpg') || (ext == 'png')) {
											$("#msg").text("Files are supported")
										}
										else {
											$("#msg").text("Files are NOT supported")
											document.getElementById("file-picker").value = "";
										}
									}
								});
							</script>
					</div>
				</div>
				<br>
				
					<h3>Which technique would you like to use?</h3>
					<p>ProSR for multi-scale superresolution
					ProGanSR for perceptual enhancement</p>
					<br>
				
				ProGANSR &nbsp;<input type="radio" value="True" name="mycheckbox">&nbsp;
				ProSR &nbsp;<input type="radio" value="False" name="mycheckbox" checked="checked">
				<br>
				
					<h3>Select upscaling level</h3>
				
					2x &nbsp;<input type="radio" value="2" name="mycheckbox1" checked="checked">&nbsp;
					4x &nbsp;<input type="radio" value="4" name="mycheckbox1">&nbsp;
					8x &nbsp;<input type="radio" value="8" name="mycheckbox1">&nbsp;
				<br>
				
					<h3>Keep the same resolution</h3>
				
				Yes &nbsp;<input type="radio" value="True" name="mycheckbox2">&nbsp;
				No &nbsp;<input type="radio" value="False" name="mycheckbox2" checked="checked">&nbsp;
				<br>
				<br>
				
					<input type="submit" value="UPSCALE" id="upload-button">
				
				</form>
			</div>
		</div>
	</div>
</body>

</html>